<html>
  <head>
    {% if title %}
    <title>{{ title }} - franklin</title>
    {% else %}
    <title>Welcome to franklin!</title>
    {% endif %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
          $("div#tdholder").click(function() {
            // rn im getting the siblings of the checkbox. what i actually need
            // to do is to find all the divs containing <en-todo> tags and pass
            // them in some form to the 'sync' route. i'll construct the
            // updated object in the view method i guess?
            var entodo = $(this).find("en-todo")[0];
            if ($(entodo).attr("checked") === "checked") {
              $(entodo).removeAttr("checked");
            } else {
              $(entodo).attr("checked", true);
            }
          })
        });
    </script>
  </head>
  <body>
    <div id='nav'>
      Franklin:
      <a href="{{ url_for('index') }}">Home </a>
      | <a href="{{ url_for('todos') }}">Todos</a>
      {% if g.user.is_authenticated() %}
      | <a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a>
      | <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr />
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
