<html>
  <head>
    {% if title %}
    <title>{{ title }} - franklin</title>
    {% else %}
    <title>Welcome to franklin!</title>
    {% endif %}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" charset="utf-8">
      $(function() {
          $("input#todocheckbox").click(function() {
            if ($(this).attr("checked")) {
              $(this).removeAttr("checked");
              console.log($(this).siblings());
            } else {
              $(this).attr("checked","checked");
              console.log($(this).siblings());
            }
          })
        });
    </script>
  </head>
  <body>
    <div id='nav'>
      Franklin:
      <a href="{{ url_for('index') }}">Home </a>
      | <a href="{{ url_for('todos') }}">Todos</a>
      {% if g.user.is_authenticated() %}
      | <a href="{{ url_for('user', nickname=g.user.nickname) }}">Your Profile</a>
      | <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
    </div>
    <hr />
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
