{% extends "base.html" %}

{% block content %}
  <div>
    {% for header, todo in user.get_todo_content(session).iteritems() %}
      <h1 id="todoheader">{{ header|safe }}</h1>
      {% for div in todo %}
        {% if div[0]["id"] == "tdcontent" %}
          <div class="checkbox">
            <div id="tdholder">
              <label>
                <input type="checkbox" id="todocheckbox" {{ 'checked' if div[1] }}/> {{ div[0]|safe }}
              </label>
            </div>
          </div>
        {% else %}
          {{ div[0]|safe }}
        {% endif %}
      {% endfor %}
      <form action={{ url_for('encreate') }}>
        <p><input class='btn btn-default' type=submit value=+>
      </form>
    {% endfor %}
    <br/>
    <input class='btn btn-primary' type="button" id="ensyncbutton" value=Sync>
  </div>
{% endblock %}
