{% extends "base.html" %}

{% block content %}
  <div>
    {% for header, todo in user.get_todo_content(session).iteritems() %}
      <h1 id="todoheader">{{ header|safe }}</h1>
      {% for div in todo %}
        {% if div[0]["id"] == "tdcontent" %}
          <div id="tdholder">
            <input type="checkbox" id="todocheckbox" {{ 'checked' if div[1] }}/>: {{ div[0]|safe }}
          </div>
        {% else %}
          {{ div[0]|safe }}
        {% endif %}
      {% endfor %}
    {% endfor %}
    <br/>
    <input type="button" id="syncbutton">Sync
  </div>
{% endblock %}
